<table>
  <tbody>
    <tr>
      <td><p>Hey Andreas! <%= @name %> (<%= @email %>) hat dir eine Nachricht via dem Kontaktformular geschickt:</p></td>
    </tr>
    <tr>
      <td><p><%= @message %></p></td>
      <td><p></p></td>
    </tr>
  </tbody>
</table>