<div class="container event-list">
  <h1>Events</h1>
  <div class="row">
      <%= render @events %>
  </div>
  <div class="row">
	  <div class="col-xs-12 neues-event">
	      <%= link_to 'Neues Event erstellen', new_event_path, :class => "btn btn-default center-block" %>
	  </div>
  </div>
</div>