/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require lightbox
 *= require_tree .
 *= require_self
 */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 1em;
}

body {
	font-family: 'Futura', Arial, sans-serif;
	color: #4D4946;
	background-image: url("BG_Wand_Kachel.jpg");
	background-size: 100%;
	background-repeat: repeat-y;
	position: relative;
}

h1 {
	font-size: 2em;
}

h3 {
	margin-top: 0;
}

li {
	list-style-type: none;
}

.navbar-default {
	position: fixed;
	width: 100%;
	z-index: 999;
	text-transform: uppercase;
	font-size: 0.9em;
	border: none;
	top: 7px;
	height: 80px;
	background-color: #fff;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
}

.navbar-toggle,
.navbar-toggle.collapsed {
	position: relative;
	top: 15px;
}

.navbar-brand {
	margin-top: 6px;
	height: 100%
}

.navbar-nav {
	position: relative;
	top: 18px;
	margin-left: 40px;
}

.navbar li {
	margin-right: 5px;
	text-align: right;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	font-size: 1.1em;
	padding-top: 12px;
}

#bs-example-navbar-collapse-1 {
	border: none;
	width: 100%;
	background-color: #fff;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
}

.impressum {
	float:right;
	font-size: 0.9em;
	color: #4D4946;
	margin-top: 50px;
	text-transform: uppercase;
}

.impressum:hover,
.impressum-container a:hover {
	color: #000;
	text-decoration: none;
}

.impressum-container {
	display: none;
	font-size: 0.9em;
	background-color: #fff;
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}

.impressum-container a {
	color: #4D4946;
}

.impressum-container .row {
	margin: 50px 0;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	#bs-example-navbar-collapse-1 {
		background-color: transparent;
	}

	.navbar li {
		text-align: center;
	}

	.navbar li a {
		font-size: 0.8em;
		padding: 0;
		width: 60px;
	}

	.navbar .partner-nav {
		width: 140px;
	}

	.navbar-default .navbar-nav>.active>a, 
	.navbar-default .navbar-nav>.active>a:focus, 
	.navbar-default .navbar-nav>.active>a:hover {
		background-color: transparent;
		font-size: 0.9em;
		padding-top: 0;
		position: relative;
		top: -2px;
	}

	.navbar-nav {
	position: relative;
	top: 30px;
	}


}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	.navbar li a {
		font-size: 0.8em;
		padding: 0;
		width: 80px;
	}

	.navbar .partner-nav {
		width: 160px;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

