/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require lightbox
 *= require_tree .
 *= require_self
 */

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Futura', Arial, sans-serif;
  width: 100%;
	background-image: url("BG_Wand_Kachel.jpg");
	background-size: 100%;
	background-repeat: repeat-y;
}

h1 {
	font-size: 2em;
}

li {
	list-style-type: none;
}

.navbar-default {
	position: fixed;
	width: 100%;
	z-index: 999;
	text-transform: uppercase;
	font-size: 0.9em;
	border: none;
	top: 7px;
	height: 80px;
	opacity: 0.9;
	filter: alpha(opacity=90); /* For IE8 and earlier */
}

.navbar-brand {
	padding: 0;
	position: relative;
	top: 23px;
}

.navbar ul {
	position: relative;
	top: 18px;
	margin-left: 40px;
}

.navbar li {
	margin-right: 5px;
}

.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
	font-size: 1.2em;
	padding-top: 14px;
}

.social-buttons {
	position: relative;
	float: left;
	top: 26px;
	margin-left: 20px;
}

.social-buttons a:hover {
	text-decoration: none;
}

.facebook {
	margin-right: 7px;
	width: 23%;
}

.maps {
	margin-right: 7px;
	width: 23%;
}

.instagram {
	margin-right: 7px;
	width: 23%;
}

