// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: center;
}


.event-list {
	position: relative;
	top: 80px;
}

.neues-event {
	margin: 50px 0; 
}

.neues-event > .btn-default {
	float: none;
	width: 50%;
}