// Place all the styles related to the main_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about.anchor {
	padding-top: 40px;
}

#partner.anchor{
	padding-top: 90px;
}


#events.anchor,
#gallery.anchor {
	padding-top: 80px;
}

#contact.anchor {
	padding-top: 70px;
}

.carousel-inner {
	margin-top: 50px;
}

.carousel-control.right {
	background-image: none;
}

.carousel-control.left {
	background-image: none;
}

.loeffel-icon {
	position: absolute;
	top: 50%;
}

.loeffel-links,
.loeffel-rechts {
	display: none;
}

.loeffel-links {
	left: 50%;
}

.loeffel-rechts {
	right: 50%;
}

.carousel-container {
	margin-top: 50px;
}

.oeffnung {
	text-align: center;
	margin-top: 60px;
	margin-bottom: 50px;
	font-size: 1.1em;
	text-transform: uppercase;
	width: 70%;
}

.loeffelpfeil3 {
	padding-top: 50px; 
}

.about {
	width: 80%;
	display: block;
	margin: 0 auto;
	border: none;
	margin-top: 50px;
}

.about > h2 {
	text-align: center;
	font-size: 1.4em;
}

.about > p {
	margin-top: 30px;
	font-size: 0.9em;
	text-align: justify;
}

.menue-row {
	margin-top: 20px;
}

.menue {
	margin-top: 30px;
}

.modal-dialog {
	width: 100%;
}

iframe {
	position: relative;
	margin: 0 auto;
}

.menue-row > h3 {
	margin-top: 0;
}

.archive {
	padding-top: 8px;
}

.event-highlights {
	margin-top: 50px;
}

.event-linie {
	padding: 20px 0;
}

.event-cta {
	padding: 0 15px;
	text-align: center;
	text-transform: uppercase;
	margin-top: 50px;
}

.loeffelpfeil2 {
	margin-top: 50px;
}

.ownevent {
	text-transform: uppercase;
	text-align: center;
	margin-top: 70px;
}

.cocktail {
	width: 100%;
}

.glas {
	margin-top: 30px;
}

.loeffel-links-partner,
.loeffel-rechts-partner {
	display: none;
}

.loeffel-links-partner {
	left: -10%;
}
.loeffel-rechts-partner {
	right: -10%;
}

.kaffee {
	position: relative;
	top: 30px;
}

#gallerie {
	margin-top: 80px;
}

#kontakt {
	margin-top: 80px;
	margin-bottom: 80px;
}

.call-us {
	position: relative;
	top: 30px;
}

#contact {
	margin-bottom: 50px;
}

.col-xs-12 > .kontaktueberschrift,
.col-sm-12 > .kontaktueberschrift {
	margin-top: 70px;
	margin-bottom: 50px;
}

.name,
.email {
	margin-bottom: 30px;
}


.textfeld,
.textarea {
	width: 100%;
	border: 5px solid transparent;
	border-image: url("Linie_Punkt.png") 20 repeat;
	border-top: 0;
}

.textfeld {
	height: 40px;
}

.textarea {
	height: 80px;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

.label {
	position: relative;
	top: 10px;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #000;
}

.col-xs-12 > .label,
.col-sm-12 > .label {
	top: -5px;
}

.btn-default {
	float: right;
}

.find-us {
	position: relative;
	top: 10%;
}

.links-map {
	margin-top: 30px;
}

.social-links {
	position: relative;
	text-align: center;
	line-height: 4em;
	margin-left: 0;
	margin-bottom: 30px;
}

ul {
	padding: 0;
}


.find-us-link {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 1.4em;
	color: #000;
}

.find-us-link:hover {
	color: #000;
	border-bottom: 5px solid transparent;
	border-image: url("Linie_Punkt.png") 8 repeat;
	text-decoration: none;
	border-top: 0;
}

#map {
	height: 250px;
	width: 100%;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

	.break2,
	.break2:after,
	.break4,
	.break4:after {
		content: " * ";
	}

	.event-highlights h1 {
		text-align: left;
	}

	.oeffnung {
		font-size: 1.3em;
	}
	
	.loeffel-links,
	.loeffel-rechts,
	.loeffel-links-partner,
	.loeffel-rechts-partner {
		display: block;
	}

	.swipe-icon {
		display: none;
	}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	address {
		padding-top: 15px;
		font-size: 1.2em;
	}

	.menue-row h3 {
		padding-top: 20px;
	}

	.archive {
		padding-top: 0;
	}

	.event-highlights {
		margin: 50px 0;
	}

	.event-highlights h1 {
		font-size: 2.5em;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.vertical-list {
		display: block;
		width: 100px;
	}
}