<html>
    <head>
        <title="Kremanski Menues"/>
        <%= favicon_link_tag 'favicon.ico' %>
        <%= stylesheet_link_tag "pdf" %>
    </head>
    <body>
        <%= yield %>
    </body>
</html>